:root {
    --main_color: #4fc2f7d8;
    --input_color: rgb(6, 78, 145);
}

body {
    background: #edf0f1;
    margin: auto;
    max-width: 45em;
    font-family: 'Lato', sans-serif;
}

header {
    margin-top: 1.5rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(44, 62, 80, .15);
    background: var(--main_color);
}

#item {
    color: var(--input_color);
}

header input {
    text-indent: 1.5rem;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.829);
    border-radius: 10px 10px 10px 10px;
    border: 0;
    height: 3.3rem;
    width: 80%;
    letter-spacing: 0.1rem;
    font-size: 20px;
}

header input:focus {
    outline: none;
    box-shadow: 0 0 15px rgb(6, 78, 145);
}

.fa-plus {
    color: var(--main_color);
}

.fa-check-circle:hover,
.fa-minus-circle:hover{
    cursor: pointer;
}

header button {
    border-radius: 25px;
    background: #fff;
    border: 0;
    height: 3.5rem;
    width: 3.1rem;
    cursor: pointer;
    /* k */
    margin-left: 1rem;
    vertical-align: middle;
    transition: box-shadow .3s;
}

header button:focus {
    outline: none;
}

header button:hover {
    box-shadow: 0 0 15px rgb(6, 78, 145);
}

header button:first-child:hover {
    color: var(--input_color);
}

.buttons {
    float: right;
}

.button button {
    cursor: pointer;
    border: 1rem solid transparent;
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    transition: fill .4s ease;
}

.item-btn {
    color: rgb(177, 177, 177);
    z-index: -20;
}

button:hover {
    /* cursor: pointer; */
}

.complete {
    border: 0;
    background: transparent;
    transition: color .4s;
}

.complete:hover {
    color: green;
}

.remove {
    border: 0;
    background: transparent;
    transition: color .4s;
}

.remove:hover {
    color: red;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid var(--main_color);
}

.todo li {
    color: #4fc2f7d8;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(44, 62, 80, .1);
    margin-bottom: 1rem;
    padding: 1rem;
    word-wrap: break-word;
}

#completed li {
    background: #edf0f1;
    opacity: .5;
    color: rgb(153, 153, 153);
}

#completed li .buttons button {
    opacity: .9;
}

#todo:after,
#completed:after {
    text-align: center;
    color: rgb(185, 185, 185);
    display: block;
}

#todo:empty:after {
    content: "Nothing in to do.";
}

#completed:empty:after {
    content: "You can complete or add new tasks";
}

::placeholder {
    color: #83d2f7e1;
}